@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-fira text-gray text-base h-full
    }
    html{
        @apply h-full
    }
    @font-face {
        font-family: 'FiraCode';
        src: url('assets/fonts/FiraCode-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'FiraCode';
        src: url('assets/fonts/FiraCode-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'FiraCode';
        src: url('assets/fonts/FiraCode-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'FiraCode';
        src: url('assets/fonts/FiraCode-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }
    @font-face {
        font-family: 'FiraCode';
        src: url('assets/fonts/FiraCode-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
    }
}

@layer components {
    .btn-primary {
        @apply px-3 py-1 border border-primary font-medium text-base text-white transition-colors duration-150 ease-linear;
    }
    .btn-primary:hover {
        @apply bg-transparent-primary;
    }
    .btn-gray {
        @apply px-3 py-1 border border-gray font-medium text-base transition-colors duration-150 ease-linear;
    }
    .btn-gray:hover {
        @apply bg-transparent-gray
    }
    .quote-block {
        @apply relative
    }
    .quote-block::before {
        @apply absolute p-2 bg-background md:top-[-20%] sm:top-[-20%] top-[-13%] left-[2%] text-gray ;
        content: url('assets/quote.svg');
    }
    .quote-block::after {
        @apply absolute p-2 pb-0 bg-background lg:bottom-[-25%]  bottom-[-10%] min-[320px]:bottom-[-13%] sm:bottom-[-15%] right-[2%]  max-[325px]:bottom-[-10%] ;
        content: url('assets/quote.svg');
    }
    .box-gray {
        @apply size-24 absolute border-gray border-[1px]
    }
    .slide-in {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #0f0f0f;
        transform-origin: bottom;
    }

    .slide-out {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background: #0f0f0f;
        transform-origin: top;
    }
    .menu-burger {
        @apply bg-background z-50 translate-x-full transition-transform duration-300 ease-in grid content-center;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
    }
    .menu-burger.open {
        @apply translate-x-0
    }
    .burger div {
        @apply transition-all duration-300 ease-linear;
    }
    .burger.open div:nth-child(1) {
        @apply rotate-45 translate-y-[3px]
    }
    .burger.open div:nth-child(2) {
        @apply -rotate-45 -translate-y-[3px] w-6
    }
    .no-scroll {
        overflow: hidden;
    }
}